<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranoz</title>
    <!-- <link rel="icon" href="img/favicon.png"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <style>
        .signup-in-link {
            color: black;
            margin-right: 8px;
            text-decoration: none;
            font-weight: 500;
        }

        .dropdown {
            position: relative;
            display: inline-block;

        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            right: 0;
        }

        .product_list.section_padding {
            background-color: white;
        }

        .single_feature_post_text img {
            max-width: 180px;
            height: auto;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            width: 100%;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .header {
            position: relative;
            z-index: 500;

        }

        .btn {
            border: none;
            font-size: small;
        }
    </style>


</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="">
                            <img src="/img/logo.png" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/shop">Shop</a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="/contact">Contact</a>
                                    </li>
                                </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <% if (user) { %>
                                <div class="dropdown">
                                    <a href="#" class="signup-in-link">
                                        <%= user.name %>
                                    </a>
                                    <div class="dropdown-content">
                                        <a href="/userProfile">Profile</a>
                                        <form method="post" action="/logout">
                                            <button class="btn">logout</button>
                                        </form>
                                    </div>
                                </div>
                                <% } else { %>
                                    <a href="/signup" class="signup-in-link">Sign Up</a>
                                    <a href="/login" class="signup-in-link">Log In</a>
                                    <% } %>


                                        <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                                        <a href="/wishlist"><i class="ti-heart"></i></a>
                                        <!-- New Cart Icon -->
                                        <a href="/cart" class="position-relative">
                                            <i class="ti-shopping-cart"></i>
                                            <% if (typeof cartCount !=='undefined' ) { %>
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                                    style="font-size: 0.6em;">
                                                    <%= cartCount %>
                                                </span>
                                                <% } %>
                                        </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>