<footer class="pt-4">
  <div class="w-full px-6 mx-auto">
    <div class="flex flex-wrap items-center -mx-3 lg:justify-between">
      <div class="w-full max-w-full px-3 mt-0 mb-6 shrink-0 lg:mb-0 lg:w-1/2 lg:flex-none">
        <div class="text-sm leading-normal text-center text-slate-500 lg:text-left">
         Made by
          shameema sherin</a>
          for a better web © <script>document.write(new Date().getFullYear())</script>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="/assets/js/plugins/chartjs.min.js" async></script>
<script src="/assets/js/plugins/perfect-scrollbar.min.js" async></script>
<script src="/assets/js/argon-dashboard-tailwind.js?v=1.0.1" async></script>
